
.home {
    margin-top: 5px;

    width: 90%;
}

.title {
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.input {
    width: 100%;
    text-align: center;
    height: 30px;
}

.images {
    display: flex;
    flex-direction: row;
}
  
.title {
    display: flex;
    justify-content: center;
}
.explain {
    display: flex;
    justify-content: center;
}
.dontLet {
    display: flex;
    justify-content: center;
}

.hungryKid {
    padding-right: 75px;
    text-align: center;

}

.frozenFood {
    padding-left: 75px;
    text-align: center;
}