
.pickedRecipe {
    margin-top: 20px;
  }

  .recipe {
      display: flex;
      align-items: center;
  }

  .body {

    padding-left: 50px;
  }
.selectDate {
    display: flex;
    flex-direction: row;
}
.submit2 {
    display: flex;
    justify-content: center;
}

.eachItem {
    padding-left: 50px;
    padding-right: 50px;
}
  
.listing {
    display: flex;
    flex-direction: row;
}

.listingItem {
    display: flex;
    flex-direction: column;
}

.buildList {
   align-items: center;
}

.listTitle {
    display: flex;
    justify-content: center;
}

.listingCenter {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.pickList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-right: 40px;
}