
.pickedRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    
  }

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
    width: 300px;
}

.input {
    width: 100%;
    text-align: center;
    height: 30px;
}

.images {
    display: flex;
    flex-direction: row;
}

.selectDate {
    display: flex;
    flex-direction: row;
}

.eachItem {
    padding-left: 50px;
    padding-right: 50px;
}
  
.listing {
    display: flex;
    flex-direction: row;
}

.listingItem {
    display: flex;
    flex-direction: column;
}

.listTitle {
    display: flex;
    justify-content: center;
}

.listingCenter {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}